<!DOCTYPE html>
<html>

<head>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
    <title>Greetings</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.0.1/vue.js"></script>


</head>

<body>

<div class="container">

    <div v-if="gender == 'male' || gender == 'female'">
        <h1>Hello,
            <span v-show="gender == 'male'">Signor {{name}}</span>
            <span v-if="gender == 'female'">Signorina {{name}}</span>
        </h1>

    </div>

    <h1 v-else>So you can't decide! It's OK!</h1>


    <label for="gender">Your gender:</label>

    <input v-model="gender" class="form-control" id="gender"></input>

    <label for="name">Your name:</label>

    <input v-model="name" class="form-control" id="name"></input>


</div>

</body>


<script src="main.js"></script>


</html>